<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium <%= status_container_classes(status) %>">
  <span class="size-1.5 inline-block rounded-full <%= status_dot_classes(status) %>"></span>
  <%= status.capitalize %>
</span>